.photo-name {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F08A5D;
}

.space-top {
  height: 96px;
}

.image-name {
  text-align: center;
}

.full-name {
  font-weight: 100;
  font-family: sans-serif;
}
.first-name {
  font-weight: bold;
  display:inline;
}

@media only screen and (min-width: 1024px) {


.photo-name {

  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #F08A5D;
  padding: 20px 40px;
  margin: 60px;

}

}