body nav span {
  font-family: "Bungee", sans-serif;
  font-size: 36px;
}

nav {
  height: 120px;
  max-width: 100%;
  background-image: url(../images/background.jpg);
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  padding: 1em 2em ;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-message {
  font-style: normal;
  font-family: sans-serif;
  margin-left: auto;
}

.nav-message:hover {
  color: #e6e6e6;
}


.specific-nav-message {
  font-weight: bold;
  display: inline;
}

@-webkit-keyframes red {  
  0% { color: #DC143C;}
  50% { 
    color: #DC143C;
    position: relative;
    top: 0.05em; }
  51% { 
    color: red;
    position: relative;
    top: 0.1em;
  }
  100% { 
    color: red;
    position: relative;
    top: 0.2em;
  }
}

.nav-arrows {
  text-align: center;
  color: red;
  -webkit-animation-name: red;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 1.5s; 
  font-size: 1.5em;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  /* position: absolute;
  top: 50%;
  right: 9.5%; */
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    background-image: none;
  }
}
