.new-tweet {
  width: 100%;
}

.compose-tweet {
  text-align: center;
}

.btn-n-counter {
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.first-btn {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", sans-serif;
  border: 0;
  padding: 5px;
}

.counter {
  font-style: normal;
  font-weight: bold;
}

.tweet-text {
  width: 100%;
  font-style: normal;
  font-weight: bold;
}

.label-tweet {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

.text-area {
  width: 100%;
  height: 48px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.text-area textarea {
  border-bottom: 5px solid #545149;
  outline: none;
}

.tweet-text {
  width: 100%;
  border: 0;
  background-color: #f4f1ec;
  border-color: #545149;
  height: 36px;
  font-weight: bold;
  font-family: sans-serif;
  height: 48px;
}

.red-counter {
  color: red;
}

div .tweet-container {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  border: 5px solid #545149;
  margin: 60px 0;
  padding: 0 10px;
  font-weight: bold;
}

div .tweet-container:hover {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  border: 5px solid #545149;
  box-shadow: 5px 10px grey;
  margin: 60px 0;
  padding: 0 10px;
  font-weight: normal;
}

.up-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.container-name {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container-hashtag {
  display: flex;
  justify-content: center;
  align-items: center;

}

.space-inside-teewet {
  padding-left: 0.5em;
}

.up-container:hover {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.middle-container {
  display: flex;
  justify-content: flex-start;
  padding: 50px 30px;
  font-family: sans-serif;
}

.middle-container:hover {
  display: flex;
  justify-content: flex-start;
  padding: 50px 30px;
  font-family: sans-serif;
}

.bottom-container {
  border-top: 5px solid #545149;
  outline: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 40px;
  font-size: 18px;
}

.bottom-container:hover {
  border-top: 5px solid #545149;
  outline: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 40px;
  font-size: 18px;
}

.symbols-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: #4056a1;
}

.symbol-inter {
  padding: 0 0.2em;
}

.error {
  color: red;
  background-color: #fce4e4;
  border: 1px solid red;
}

@media only screen and (min-width: 1024px) {
}
